doctype html
html
  head
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900',rel='stylesheet')
  body
    #app-root
    link(href='https://fonts.googleapis.com/css?family=Work+Sans' rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet') 
    script(src='bundle.js')